<div class="card border"
  style="background-image:  url('<%= cl_image_path booking.item.photo if booking.item.photo.model[:photo] %>')">
  <div class="card-description-top">
    <h2 class="text-center font_black "><%= booking.item.name %></h2>
  </div>

</div>
