/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway|Cormorant+SC|Junge');
$base-font: 'Raleway', sans-serif;
$header-font: "Cormorant SC", serif;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$black: #000000;
$gray: #8B8B8B;
$light-gray: #C8C9C9;
$gray-darker: #444444;
$gray-dark: #696969;
$gray-normal: #999999;
$gray-light: #CCCCCC;
$gray-lighter: #ECECEC;
$gray-lightest: lighten($gray-lighter,4%);


