<p> Hi <%= @user.email %>,

Thanks for joining Decoswap.
We're a team of passionate looking to pimp your home !

Don't hesitate to talk to us on this address for any reason.

See ya!

Decoswap Team.
</p>
