.c-content-bar-1.c-bordered {
    border: 3px solid transparent;
    padding: 20px;
}

.c-content-bar-1.c-align-left {
    text-align: left;
}
.c-theme-border {
    border-color: #32c5d2;
}
.c-theme-border {
    border-color: #32c5d2 !important;
}
.c-content-bar-1 {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}
.c-shadow {
    box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.3);
}

.c-font-24 {
    font-size: 24px;
}

.c-font-uppercase {
    text-transform: uppercase;
}
.c-font-bold {
    font-weight: 600 !important;
}

.c-font-20 {
    font-size: 20px;
}

.c-margin-b-15 {
    margin-bottom: 15px !important;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.c-border-bottom {
    border-bottom: 1px solid #eeeeee;
}
.c-border-top {
    border-top: 1px solid #eeeeee;
}
.c-margin-left {
  margin-left: 5px;
}
.c-margin-top {
  margin-top: 5px;
}

.stripe-button-el {
    margin-top: 25px;
}