.swap-arrow {
	padding-top: 20px;
}
.swap-flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.swap-item {
	flex: 1;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

	/* flip the pane when hovered */
//.flip-container:hover .flipper, .flip-container.hover .flipper {
//	transform: rotateY(180deg);
//}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}





.truck{
  transform: scale(4);
}

.front-wheel, .back-wheel {
  transform-origin: center center;
  animation: rotate-wheels 360ms infinite;
}

@keyframes rotate-wheels {
  0% { transform: rotate(0deg) }
  30% { transform: rotate(90deg) }
  60% { transform: rotate(180deg) }
  90% { transform: rotate(270deg) }
  100% { transform: rotate(360deg) }
}



