<!-- Footer
    ============================================= -->
    <footer id="footer" class="">

      <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-menu">

          <div class="row clearfix">

            <div class="col-md-6">

              <div class=" clearfix">
                <div class="row">

                  <div class="col-xs-4 widget_links">
                    <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">FAQs</a></li>
                      <li><a href="#">Support</a></li>
                      <li><a href="#">Contact</a></li>
                    </ul>
                  </div>

                </div>
              </div>
              <div class="visible-sm bottommargin-sm"></div>

            </div>

            <div class="visible-sm visible-xs line"></div>

            <div class="col-md-6">

              <div class="widget subscribe-widget clearfix">
                <h4>Subscribe to Our Newsletter</h4>
                <p>Get Important Offers and Deals directly to your Email Inbox. <em>We never send spam!</em></p>
                <div class="widget-subscribe-form-result"></div>
                <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                  <div style="margin-bottom: -10px;">
                    <div class="row">
                      <div class="col-sm-9" style="margin-bottom:10px;">
                        <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control not-dark required email" placeholder="Enter your Email">
                      </div>
                      <div class="col-sm-3" style="margin-bottom:10px;">
                        <button class="btn btn-block btn-success" type="submit">Subscribe</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

            </div>

          </div>

          <div class="line"></div>

          <div class="row clearfix">



            <div class="col-md-5 col-sm-6">

              <div class="clearfix" data-class-lg="fright" data-class-md="fright" data-class-sm="fright" data-class-xs="" data-class-xxs="">
              </div>

            </div>

          </div>

        </div><!-- .footer-widgets-wrap end -->

      </div>

      <!-- Copyrights
      ============================================= -->
      <div id="copyrights">

        <div class="container center uppercase clearfix">

          Copyrights &copy; 2016 All Rights Reserved by DecoSwap Inc.

        </div>

      </div><!-- #copyrights end -->

    </footer>
