
<!-- Start video hero -->
<div class="video-hero jquery-background-video-wrapper demo-video-wrapper">
  <video class="jquery-background-video" autoplay muted loop poster="background.jpg">
    <source src="background_video.mp4" type="video/mp4">
    <source src="background_video.webm" type="video/webm">
    <source src="background_video.ogv" type="video/ogg">
  </video>
    <div class="video-overlay"></div>
    <div class="page-width">
        <div class="video-hero--content">
            <h2>DecoSwap</h2>
            <p>Life is about changes</p>
            <div class="">
            <%= link_to "Check out our Furniture", items_path, class: "btn btn-lg btn-primary center" %>
            </div>
        </div>
    </div>
</div>
<!-- End video hero -->

<div id="content">
    <div class="page-width">
        <h3>Why buy when you can Swap?</h3>
        <p>Fed up with your paintings, chair, desk, lamp, carpet...? Don't have time to sell them ?
        You want to be able to change your interior whenever you like?</p>

        <p>Now it's possible! Check Below</p>
    </div>
</div>




    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
         <i class="fa fa-search" aria-hidden="true"></i>
          <h2>Find</h2>
          <p>Find the perfect decoration item that will sublime your home.</p>
<!--           <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
 -->        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <i class="fa fa-truck" aria-hidden="true"></i>
          <h2>Delivery</h2>
          <p>Get delivered in 48h.</p>
<!--           <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
 -->        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="fa fa-exchange" aria-hidden="true"></i>
          <h2>Swap</h2>
          <p>You don't like it anymore? Just swap it and choose a new item!</p>
<!--           <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
 -->        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
