.footer{
  background-color: #282828;
  width: 100%;
}

.links_socials {
  ul {
    li {
      text-decoration: none;
      list-style: none;
      display: inline-block;
      padding: 5px 10px;
      text-align: left;
    }
  }
  @media (max-width: 768px) {
    text-align: center;
  }
}

.copyrights {
  text-decoration: none;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
    i {
      color: $red;
    }
    a{
      text-decoration: none;
    }
  @media (max-width: 768px) {
    text-align: center;

  }
}
