<ul class="cards">
  <li class="cards__item">
    <div class="card">
      <div class="image-container">
        <% if item.photos.first %>
          <%= cl_image_tag item.photos.first.path %>
        <% end %>
          <div class="">
            <h2 class="card__title"><%= item.name %> </h2>
          </div>
          <div class="overlay">
            <h2 class="card__title"><%= item.price %>€/month </h2>
          </div>
      </div>
    </div>
  </li>
</ul>
