<h1 class="text-center">Select Your Item</h1>
 <%= render "filters" %>

<div class="border-bottom-filters"> </div>

<br>
<div id= "items" class="container police margin-bottom-50px">
  <%= render 'items/searchresult', items: @items %>
</div>

<script>
  $(document).ready(function() {
    $("[data-autosubmit=true]").on("change", function() {
      return $(this).submit();
    });
  });
</script>
