<h1 class="text-center margin-bottom-20px">All the items</h1>

<%= render "filters" %>

<br>
<div class="container police margin-bottom-50px">
 <div class="row">
  <% @items.each do |item| %>
  <% if item.status == "Free" || "Rent" || "rent" %>
    <div class="col-xs-12 col-sm-6 col-md-3 padding-horizontal-7">
    <%= link_to item_path(item), class:"no-text-decoration" do %>
    <% if item.status == "Free" %>
      <%= render "card", item: item %>
    <% elsif item.status == "Rent" || "rent" %>
      <%= render "card_oos", item: item %>
    <% end %>
    <% end %>
  </div>
  <% end %>
  <% end %>
</div>
</div>

<script>
  $(document).ready(function() {
    $("[data-autosubmit=true]").on("change", function() {
      return $(this).submit();
    });
  });
</script>
