<h1 class="text-center">All the items</h1>

<div class="container police">
 <div class="row">
  <% @items.each do |item| %>
    <% if item.status == "Free" %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to item_path(item) do %>
        <%= render "card", item: item %>
        <% end %>
      </div>
    <% elsif item.status == "Rent" %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to item_path(item) do %>
        <%= render "card_oos", item: item %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
</div>

