* {margin: 0; padding: 0;}
.magnify {width: 200px; margin: 50px auto; position: relative;}


.large {
  width: 175px; height: 175px;
  position: absolute;
  border-radius: 100%;

  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
  0 0 7px 7px rgba(0, 0, 0, 0.25),
  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  background: url('http://thecodeplayer.com/uploads/media/iphone.jpg') no-repeat;
  display: none;
}


.small { display: block; }
